<div class = "blog_date">8/12/2013</div>
  </br></br>
  <h3>Prizes to win!</h3>
  </br></br>
  <i>Put at least one shared thing in your Address Book from December 19th to mid-January, with a comment, and be in with the chance to win one of these 3 prizes:</i>
    </br></br>
    </br></br>

  <div class= "competition_border">
    <div class = "for_her">For her:</div>
    <a target="_blank" title="Nail Nirvana" href="http://nailnirvana-dublin.com/"><img class = "sponsor_image" alt="Nail Nirvana" <%= image_tag('nail_nirvana_image.png') %></a>

   <!-- <a target="_blank" title="Nail Nirvana" href="http://nailnirvana-dublin.com/"><img class = "sponsor_image" alt="Nail Nirvana" <%= image_tag('nail_nirvana_logo.png', :size => '102x68') %></a> -->

    <div class="clear"></div>
    A voucher for a mini manicure in Nail Nirvana, Sutton, Dublin 13. Shape, cuticle softening, massage and polish.

    <hr>

        <div class = "for_him">For him:</div>
    <a target="_blank" title="The Grafton Barber" href="http://nailnirvana-dublin.com/"><img class = "sponsor_image" alt="The Grafton Barber" <%= image_tag('small_logo_gb.png', :size => '808x164') %></a>



    <div class="clear"></div>
    A voucher for a royal open razor shave with hot towels face massage creams and colognes, with brandy and cigar. Voucher redeemable in all 17 outlets.

<hr>

        <div class = "for_superquinn">A 30 euro voucher, to help replenish that cupboard after Christmas.</div>
    <a target="_blank" title="Superquinn" href="http://nailnirvana-dublin.com/"><img class = "sponsor_image" alt="Superquinn" <%= image_tag('superquinn.png') %></a>


    <div class="clear"></div>


  </div>

  Thank you very much to our sponsors, above.
<p></p>
   A video of the winners being pulled from a hat by our Master of Ceremonies will be shown on our Facebook page in mid-January.
<p></p>
   Happy Christmas and a prosperous new year!
<div class="clear"></div>
