    </br></br>
    <div class = "blog_date">19/11/2013</div>
    </br></br>
        My first ever post here. Yahoo! As part of Bank of Ireland Enterprise week I'll
        be in the Sutton branch tomorrow, showing off Populisto! to customers going about
        their business.
    </br></br>

        I'll be there from 12.30pm to 2.30pm. No internet access for me so it
        should be interesting. Oh well, will have to improvise!
  </div>
