
<div class = "blog_date">8/12/2013</div>
<p></p>
<h3>Lots of progress...</h3>
</br></br>
But probably the main one: a big advantage of 'Facebook log in' is that  Address Books of people you know
are prioritized.
</br></br>
But not everybody has FB, and some (most?) FB users don't like using the log in....now being able to prioritize your friends has been extended to all Populisto! users, no matter how you log in.
</br></br>
Just click the 'Follow this Address Book' beside a person's name; from then on they'll come up under 'Friends/People you know'.
</br></br>
