<div class = "background_static_pages">
<div class = "static_pages_header">
  About Us
  </div>

  <div class = "static_pages_body">
    Populisto! is the idea of Christophe Harris and Jennifer Collins, who live in Baldoyle, Dublin.
<p></p>
    The idea came about when we were looking for a carpenter to do work on our kitchen.
<p></p>
    We went through the usual rigmorole  - asking around, browsing online, looking up ads...
    In the end we settled for a recommendation from one of Jen's friends.
<p></p>
    Lucky, because the carpenter did a fantastic job, and the conversation between Jen and her friend nearly never happened!
<p></p>
Taking a break from admiring our new kitchen on that May evening of 2012,  Jen pondered out loud, 'Wouldn't it be great if there was something like....'. With the carpenter we were lucky - but what other people do our friends know, ones we're missing out on, people we'd happily employ if only we knew they were there, instead of looking up an ad?
<p></p>
Populisto! is an attempt to deal with that problem. It's like an online equivalent of that real life 'Address Book' - ideally we want your 'Address Book' to be a place where you'd store the contact details of someone or something that's really helped you in some way, which you'd use again, and which you'd be happy to tell your friends about.


  </div>
</div>

