
<div class = "static_pages_header">
Prize Draw Terms and Conditions


<p></p>




<div class = "static_pages_body">
1. This prize draw is open to anybody aged 18 years or over. It is a condition of entry that all rules are accepted as final and that the competitor agrees to abide by these rules. The decision of the judges is final.
<p></p>
<br>
2. Automated entry software or spamming that allows an entrant to enter multiple times is prohibited and all entries submitted by that entrant will be deemed invalid.
<p></p>
<br>
3. The winner will be drawn at random from all entries received by the closing date. All entries must be received by midnight on Friday, May 17, 2013.
The winner will be notified by email. Should the Promoter be unable to contact the winner or should the winner be unable to accept the prize, the Promoter reserves the right to award the prize to an alternative winner, drawn in accordance with these terms and conditions.
<p></p>
<br>

4. One entrant will win an iPad Mini 16GB with Wi-Fi in black and slate. The prize is non transferable and there are no cash alternatives. The winner may be required to participate in publicity.
<p></p>
<br>
5. If this promotion is not capable of running as planned due to any reason, including unauthorised intervention, fraud, or any other causes beyond the control of the Promoter, which corrupt or affect the administration, security, fairness, integrity or proper conduct of this promotion, the Promoter reserves the right (subject to any applicable law) in its sole discretion to cancel the competition or to disqualify any individual who has tampered with the entry process.
</div>

</div>


