
<div class = "background_static_pages">
<div class = "static_pages_header">
  Contact Us
  </div>
  <div class = "static_pages_body">
  Any bugs, errors or suggestions for Populisto!? Any categories you'd like added in the 'Search Address Books' part?
<p></p>
    Please email me at christophe@populisto.com. Always happy to hear from you!
</div>
</div>
