<div class = "background_static_pages">
<div class = "static_pages_header">
  FAQ
</div>
  <div class = "static_pages_body">
    We're very new, so we don't have any frequently asked questions yet.
  </div>
</div>
