<div class = "static_pages_header">
  FAQ
  <p></p>
  <div class = "static_pages_body">
    Babysitting.ie is the idea of Jennifer Collins and Christophe Harris, who live in Baldoyle, Dublin. The idea came about when we were looking for a carpenter to do work on our kitchen.
    <p></p>
    We used various sources to try find the ideal person - browsing online, looking up ads in newspapers, directories... In the end we settled for a recommendation from a friend. Jen said afterwards, ‘Wouldn’t it be great if there was something like....’, and that’s how Populisto! came about.
  </div>
</div>
