
                <!-- <a href="https://github.com/commadelimited/jQuery-Mobile-Bootstrap-Theme" data-role="button" data-icon="star">Get the code</a> -->





                <h3>
                    Populisto! is a communal contacts list/address book.
                </h3>
                    <p>
                    Store those things that matter to you in a quickly accessible way, and find new things - select from the list to see what others around you have to say before you decide.

                    Remember, a recommendation from a friend
                    is what's important when making a decision!
                </p>
                <p>
                    Add in your own nuggets of info - leave it for everybody in the area, for a select few, or for your eyes only.
                </p>

