

<div class = "changing_images">
  <img class><%= image_tag "babysitting.gif" %></img>
  <!-- <img class><%#= image_tag "favs.png" %></img> -->
  <!-- <img src = "rails.png"> -->
</div>

<!-- This is the unordered list for the login-sign up page -->
<!-- <ul class="features">
  <li>
  <img class><%#= image_tag("free.png") %></img>
  <p class="title">Free</p>
  <p>
  100% free on-line address book...but better.
  </p>
  </li>
  <li>
  <img class><%#= image_tag("correct.png") %></img>
  <p class="title">Reliable</p>
  <p>Find trusted sources from people you know.</p>
  </li>
  <li>
  <img class><%#= image_tag("share.gif") %></img>
  <p class="title">Share</p>
  <p>Pop that electrician or dress maker into your <br>
  list so others can employ them.</p>
  </li>
</ul>
 -->
<ul class="iPad-promo">
  <li>
  <img class><%= image_tag("smiley.png") %></img>
  <p class="title">And...290513</p>
  <p>Beee in with the chance to win an iPad! <%= link_to "Terms and conditions apply", '#', :onclick => "javascript:window.open(\"terms.html.erb\",'Terms and Conditions', 'width=300, height=600');" %>
  <%= image_tag "ipad.png", :class => "img2" %>
  </li>
</ul>


