<div class="your_page">
  <h2>Populisto! users outside your area:</h2>
  <div class = "outside_area">
    (Type the name of a person in the ‘Search Address Books’ bar to see if they’re on Populisto!)
  </div>
  <p></p>
  <ul class="nav nav-tabs nav-stacked">
    <% @friends_outside.each_with_index do |f, index| %>
      <li>
        <%= link_to address_book_path(f) do %>
          <div class="pull-left"><%= index + 1 %></div>
          <div class="span8">
            <div class="span1">
              <%= fb_avatar(f) %>
            </div>
            <div class="span6">
              <div><%= f.front_name %> - Fb friend</div>
            </div>
          </div>
          <div class="clearfix"></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
