  #map_canvas {
    height: 380px;
    width: 470px;
    margin: 0 auto;
    img {
      max-width: none;
    }
  }

    #map_canvas2 {
    height: 380px;
    width: 470px;
    margin: 0 auto;
    img {
      max-width: none;
    }
  }