
#empty_Address_book

{

background-color: #FDF6EA;
padding: 20px;
font-size: 18px;
text-align: justify;
float: left;
width: 500px;
border: 1px solid #EBDDDD;

}


#empty_Address_book_image

{
margin-left:600px;
}


