/*---------------------------------START OF ADDRESS SELECTION ON MAP CSS--------------------------*/


/* body {
  background-color: #fff !important;

  /*> .container {
    width: 100%;
    padding: 0px 0 50px 0;
  } */

  .page-content {
    background-color: #ffffff;
    /* margin-top: 30px;
    @include border-radius(7px, 7px); */


  .map-page {
    width: 800px;
    margin: 40px auto;
    padding-top: 10px;
    padding-bottom: 10px;

    .greetings {
      width: 80%;
      margin: 30px auto 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      line-height: 26px;
    }

       .phone_number {
      width: 80%;
      margin: 30px auto 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      line-height: 26px;
    }

    .address-area {
      margin: 10px auto;
      width: 97%;
      display: block;
      margin-left: auto;
      margin-right: auto;

      #address_autocomplete {
        width: 60%;
        height: 30px;
        font-size: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

        #map_canvas {
      height: 400px;
      width: 600px;
      margin-top: 0.6em;
      margin-bottom: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;

      img {
        max-width: none;
      }
    }
    }



    }

/*---------------------------------END OF ADRESS SELECTION ON MAP CSS--------------------------*/
