@import "compass/css3/border-radius";


/* css details for the list on the login - sign up page */

#home_page_header {
  width: 100%;
  height: 95px;
  top: 0;
  position: fixed;
  border-color: #eeeeee;
  border-width: 0 0 1px 0;
  border-style: solid;
  background: #fff;
  .populisto_logo2 {
padding-top: 10px;
padding-left: 10px;


#menu2 {
display:inline;

  #home_page_links {
display: inline;
width: 440px;
padding-left: 10%;


  li {
      display: inline;
      background-color:#4C95F1;
      padding: 6px 0px 6px 0px;
      font-size: 16px;
      border-radius:10px;

      a
      {
      padding: 6px 12px 6px 12px;
      text-decoration:none;
      color: #FFFFFF;

      }


      a:hover,a:active
      {
      background-color:#F5A225;
      border-radius:10px;
      }
      }

  }
  }
  }
  }


.span12 {
  width:1089px;
}

.features {
  list-style:none;
  float: left;
  margin: 9em 0 0 18em;
}

.features li {
  margin: 8px 0 2em;
}

.features img {
  float: left;
  margin: 0px;
}

.features p {
  margin: 0 0 0 68px;
}

.features .title {
  font-size: 16px;
  margin-bottom: .3em;
}

.features img2 {
  float: right;
  margin: 5px 0 0;
}



.animation_movie{
// float: left;
// margin-left: 100px;
// width: 600px;
// height: 600px;
text-align: center;

}
/*Facebook login , on the home page */

.login{margin-top: 60px;}
.login-page {
height: 110px;

#business-org-person-section {
  margin-left: 30px;
  margin-top: 20px;
}

  .facebook-section {
    text-align: center;
        margin-left: 6px;
margin-right: 6px;

    .fb-login {
      margin: 15px auto;
      display: block;
    }


    .or-devider {
      background-color: white;
      margin:auto;
      height: 30px;
      text-align: center;
      @include border-radius(15px);
      font-size: 17px;
      line-height: 26px;
      margin-top: 50px
    }
  }

  .sign-in-section {
    .form{
      .controls{margin-left: 0;}
      .inputs{
        width: 100%;
        height: 20px;
        font-size: 13pt;
        padding: 10px 5px 10px 5px;
      }
    }
    .remember{margin-bottom: 0;}
    .simple_form#new_user {
      .error-explanation {
        margin: 5px 0px 5px 0px;
        background: #f2dede;
        padding: 15px;
        .error-message {
          display: block;
          color: #b94a48;
        }
      }
    }
  }

  .sign-in {
    text-align: center;

    p {
      font-size: 20px;
    }

    .create-account-note {
      color: red;

      a, a:visited {
        color: red;
        text-decoration: underline;
      }
    }

    .not-on-facebook-note a {
      color: blue;
    }
  }

  //border: 1px solid #eee;
  border: 2px solid #F5A46E;
  @include border-radius(10px);
}



/*Facebook signup, on the home page */

.login-page-sign-up {
height: 110px;
width:370px;
line-height: 14px;
float: right;
margin-right: 40px;
margin-top: -60px;
border: 2px solid #F5A46E;

#business-org-person-section {
  margin-left: 30px;
  margin-top: 20px;
}

  .facebook-section {
    text-align: center;
    position: relative;
    margin-left: 6px;
margin-right: 6px;

    .fb-login {
      // width: 315px;
      margin: 15px auto;
      display: block;
    }


    .or-devider {
      position: relative;
      background-color: white;
      width: 300px;
      margin: auto;
      height: 30px;
      text-align: center;
      @include border-radius(15px);
      font-size: 17px;
      line-height: 26px;
    }
  }

  .sign-in-section {
    .simple_form#new_user {
      .error-explanation {
        margin: 5px 0px 5px 0px;
        background: #f2dede;
        padding: 15px;
        .error-message {
          display: block;
          color: #b94a48;
        }
      }
    }
  }

  .sign-in {
    text-align: center;

    p {
      font-size: 20px;
    }

    .create-account-note {
      color: red;

      a, a:visited {
        color: red;
        text-decoration: underline;
      }
    }

    .not-on-facebook-note a {
      color: blue;
    }
  }


  @include border-radius(10px);
}


.sign-in-section {
  background-color: #DFDFDF;
  padding: 25px;
  padding-top: 22px;
  padding-bottom: 10px;
  .explanation {
    text-align: center;
    margin: 7px;
    font-size: 14px;
  }
  .inputs {
    input.string, input.password {
      width: 100%;
      height: 20px;
      font-size: 13pt;
      padding: 10px 5px 10px 5px;
    }
  }
  .log_in_button {
  /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    margin-top: 45px;
    }

      .create_account_button {
  /* display: block; */
margin-left: auto;
margin-right: auto;
width: 116px;

    }


    .remember_me {
      float:left;
    }

    .forgot_password {
      float:right;
    }

    .sign_up {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    }

    .already_member {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    }



    @include border-radius(8px 8px 8px 8px);
  }
