@import "compass/css3/border-radius";


#carousel {
position: relative;
margin-top: 20px;
float: left;
/* margin-left: 80px; */
height: 350px;
width: 45%;
}

#back{
position: absolute;
left:0;
top:175px;
}

#forward{
position: absolute;
right:0;
top:175px;
}


/* css details for the list on the login - sign up page */

#home_page_header {
 /* position: fixed; */
  width: 100%;
  height: 75px;
  top: 0;

  .populisto_logo2 {
  margin-left: 480px;
}


  #home_page_links {
padding-top: 20px;
padding-left: 410px;


    li {

      display: inline;
      /* list-style-type: none; */
      padding-right: 35px;
      font-size: 16px
    }

  }

  }


.changing_images {
  float: left;
  padding-top: 30px;
  padding-left: 90px;
  width: 650px;
  height: 350px;
}

.features {
  list-style:none;
  float: left;
  margin: 9em 0 0 18em;
}

.features li {
  margin: 8px 0 2em;
}

.features img {
  float: left;
  margin: 0px;
} 

.features p {
  margin: 0 0 0 68px;
}

.features .title {
  font-size: 16px;
  margin-bottom: .3em;
}

.features img2 {
  float: right;
  margin: 5px 0 0;
} 


#iPad-promo {
width: 450px;
list-style: none;
float: left;
border: 1px solid #ebebeb;
margin: 390px 0 0 -540px;
padding: 10px;

#smiley {
float: left;
margin-right: 22px;
} 

#win_ipad_text{
font-size: 18px;
padding-top: 12px;
float: left;
} 

#ipad_image {
  font-size: 1em;
} 

}



/*Facebook login, on the home page */

.login-page {
width:370px;
float: right;
margin-right: 100px;
margin-top: 20px;
border: 1px solid #eee;

  .facebook-section {
    text-align: center;
    position: relative;
    padding: 15px 15px 0;

    .fb-login {
      width: 315px;
      margin: 15px auto;
      display: block;
    }

    .fb-notes {
      font-size: 12px;
      margin-bottom: 20px;
    }

    .or-devider {
      position: absolute;
      bottom: -36px;
      left: 160px;
      background-color: white;
      width: 40px;
      height: 30px;
      text-align: center;
      @include border-radius(15px);
      font-size: 17px;
      line-height: 26px;
    }
  }

  .sign-in-section {
    .simple_form#new_user {
      .error-explanation {
        margin: 5px 0px 5px 0px;
        background: #f2dede;
        padding: 15px;
        .error-message {
          display: block;
          color: #b94a48;
        }
      }
    }
  }

  .sign-in {
    text-align: center;

    p {
      font-size: 20px;
    }

    .create-account-note {
      color: red;

      a, a:visited {
        color: red;
        text-decoration: underline;
      }
    }

    .not-on-facebook-note a {
      color: blue;
    }
  }

  border: 1px solid #eee;
  @include border-radius(10px);
}


.sign-in-section {
  background-color: #DFDFDF;
  padding: 25px;
  padding-top: 22px;
  .explanation {
    text-align: center;
    margin: 7px;
    font-size: 14px;
  }
  .inputs {
    input.string, input.password {
      width: 300px;
      height: 12px;
      font-size: 14pt;
      padding: 10px 5px 10px 5px;
    }
  }
  .actions {
  display: block;
margin-left: auto;
margin-right: auto;
width: 146px;
      /*text-align: right;*/
    }

    .links {
      color: #848484;
      text-align: center;
      a {
        color: #848484;
      }
    }
    .links.centralized {
      text-align: center;
    }



    @include border-radius(0 0 8px 8px);
  }