#why_fb_log_in{

    color:#0E119E;
    margin-bottom: 20px;
}

#why_fb_log_in_text{
    display:none;
}


#area_help{

        color:#0E119E;
    margin-bottom: 20px;
margin-top: 25px;
}

#your_area_help_text, #search_box_help_content{
    display:none;
}
