#why_fb_log_in{

    color:#0E119E;
    margin-bottom: 20px;
}

#why_fb_log_in_text{
    display:none;
}


#area_help{

        color:#0E119E;
    margin-bottom: 20px;
}

#your_area_help_text{
    display:none;
}




