  .reviews {
  /* background: #fbf6b2 url(formBg.png) 0 0 repeat-y; */
  width: 850px;
  height: 300px;
  margin-left: 18%;

  .breadcrumb {
  background: #fbf6b2 url(formBg.png) 0 0 repeat-y;
  height: 250px;
  /* background-image: -webkit-linear-gradient(top, #FFFF99, #FFFF99); */
  }  

  .breadcrumb {
  position: relative;
  }  

  .breadcrumb:hover {
  border-color:  #0099CC;  
  /*   opacity: 1.2; */


  } 


  .left_window {
  width:360px;
  float: left;

  .address_entry_user_name{
font-size: 24px;
display: inline;
padding-left: 10px;
  }

  .category_name{
font-size: 24px;
margin-top: 15px;
margin-bottom: 20px;
  }



  .edit_review_link {
  display: none;
  }

  .info {
font-size: 14px;
line-height: 20px;
  }



  .posted_at {
  color: #888888;
  font-style: italic;
  left: 15px;
  bottom: 5px;
  font-size: 12px;
  position: absolute;
  }    


  }

  .right_window {
  width:360px;
  float: right;

  .edit_review_link {
  float: right;
  display: block;
  top: 5px;
  right: 5px;
  color: #0099CC;
  }

  /* .comment {
   display: table-row; 
  float:left;
  } */

.comments{
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 20px;
}

  /* .more-info {
 display: table-cell; 
  width: 70px;
  padding-left: 200px; 
  } */

  .comment-content {
  display: table-cell;
  white-space: pre-line;
  }


  .add_page_button_pos {
  right: 15px;
  bottom: 15px;
  position: absolute;
  }

  .remove_page_button_pos {
  right: 15px;
  bottom: 15px;
  position: absolute;
  }

  }



  /*   ////////////////   The edit form, below  ///////////////////////  */

  .edit_review_form {

margin-top: -10px;

  form {
   margin: 0;

  }
  .inputs{
  display: table-row;

  #except_comment {
  display: table-cell;
  width:40%;
  }

  #comment{
  padding-left: 30px;
  }

  }


  /* in edit mode, these are the things on the left - down to 'edit-label' */

  .edit_form_titles{
  display: block;
  margin-bottom: 0px;
  color: #333333;
  }

  .cant_be_blank{
font-size: 12px;
margin-top: -18px;
margin-left: 90px;
  }

  #review_name, #review_phone, #review_address {
  width: 333px;
  }
  select {
  width: 343px;
  }
  .edit_review_info{

  .edit-label{
  display: block;
  }

  }

  /* in edit mode, these are the things on the right - down to 'share_button' */

    .cancel-edit{
  position: absolute;
  top: 5px;
  right: 5px;
  color: #0099CC;
  }

  /* .right{
  margin-left:80px; */

    .comments {
font-size: 24px;
margin-left: 117px;
margin-top: 25px;
}

  textarea {
width: 70%;
height: 105px;
resize: none;
margin-left: 115px;
margin-top: 35px;
  }



  .control-group {
  display:inline;
  .controls {
  display: inherit;
  }
  }
  span#address_validation {
  color: #B94A48;
  }

  .edit_button_group{

  /* put the save, delete buttons and radio buttons at the bottom of the Address book entry */

position: absolute;
bottom: 10px;
margin-left: 80px;

  .save_review{
  float: right;

  }
  .delete_review {
float: right;
margin-right: 20px;
margin-top: 5px
  }

  .keep_private_label{
float: right;
margin: 5px 35px 0px 5px;
  }
  .keep_private_button{
  float: right;
  margin: 7px 0px 0px 20px;
  }
  .share_label{        
  float: right;        
  margin: 5px 0px 0px 5px;
  }
  .share_button{
  float: right;
  margin: 7px 0px 0px 55px;
  }
  }
  /* } */

  }

  }

