hr {
    height: 1px;
    color: #4D4D5B;
    background: #4D4D5B;
    font-size: 0;
    border: 0;
}

.sponsor_image{

float: left;
margin: 0 20px 32px 0;
}

.clear {
    clear: both;
}

.blog_date {

    background-color: orange;
    height:18px;
    width:89px;
}


.him_and_her {

font-size: 34px;
padding-top: 26px;
padding-bottom: 31px;
color: #CC0066;
}

.competition_border

{
border:2px solid #E9AC8F;
padding:10px 40px;
border-radius:5px;
}


.prizes {
    position: fixed;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 14px;
}
