div.background_your_area

{

width:820px;
padding-left: 50px;
padding-right: 50px;
padding-top: 25px;
padding-bottom: 25px;
background-color: #FDF6EA;
margin-left:auto;
margin-right:auto;
margin-top: 60px;
border-radius:10px;
border:2px solid #EBDDDD;

#your_area {

#Address_book_area {
font-size: 28px;
float: left;
}

#area_help {
width: 30px;
display: inline-block;
position: relative;
top:-15px;
}

}


#map_canvas {
height: 380px;
width: 85%;
margin-left: auto;
margin-right: auto;
}

}

#Address_book_owner {
margin-left: 90px;
margin-top: 30px;
margin-bottom: 40px;
font-size: 28px;
}

 #character_and_bubbles {
margin-top:115px;
 width: 60%;

#top_bubble_div {
#top_bubble {
    background-color: #fff0a0;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    border-radius: 5px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),
                3px 3px 0 hsla(0,0%,0%,.1);
    color: #333;
    display: inline-block;
    font: 16px/25px sans-serif;
    width: 71%;
    /* width: 500px; */
    padding: 15px 25px;
    position: relative;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
}

#top_bubble:after, #top_bubble:before {
    border-bottom: 25px solid transparent;
    border-right: 25px solid #fff0a0;
    bottom: -25px;
    content: '';
    position: absolute;
    right: 85.5%;
}
#top_bubble:before {
    border-right: 25px solid hsla(0,0%,0%,.1);
    bottom: -28px;
    right: 85%;
}
}

#p_mechanic {
  padding:20px;
  float:left;

}


#right_bubble_div {
padding:20px;

#right_bubble {
    background-color: #fff0a0;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    border-radius: 5px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),
                3px 3px 0 hsla(0,0%,0%,.1);
    color: #333;
    display: inline-block;
    font: 16px/25px sans-serif;
    max-width: 42%;
    /* width: 282px; */
    padding: 15px 25px;
    position: relative;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
}

#right_bubble:after, #right_bubble:before {
    border-bottom: 25px solid transparent;
    border-right: 25px solid #fff0a0;
    bottom: 50%;
    content: '';
    position: absolute;
    right: 100%;
}

#right_bubble:before {
    border-right: 25px solid hsla(0,0%,0%,.1);
    bottom: 50%;
    right: 100%;
}
}

}

#followers_following {
    padding-left:50px;
}


#following_and_ipad{
width: 700px;
margin-left: auto;
margin-right: auto;

#following{
float:left;
padding-right: 20px;


#follow_info {
border:1px solid #a1a1a1;
padding:10px 40px;
background:#CCFFCC;
width:250px;
height: 53px;
border-radius:5px;


#user_name {
  font-size: 14px;
  text-align: center
}

#following_link {
  font: 16px/25px sans-serif;
  text-align: center
}

/*width: 850px;
margin: 7px 0px;
font-size: 30px;
padding: 15px; */
}

}


#comp{
float:left;
#competition {
  border:1px solid #a1a1a1;
padding:10px 40px;
background:#CCFFCC;
width:250px;
border-radius:5px;

#competition_text{

font-size: 16px;
text-align: center;

  }

  #competition_terms{
font-size: 13px;
text-align: center;
  }

    .invites-count {
    text-align:center;
  }
}
}
}

/*
.users-page {
    margin-top:90px;
    .user-info {

      .your_page_label {
        font-size: 26px;
      }

      .pop_something_in {
        font-size: 26px;
        line-height: 26px;
      }

      .pop_something_in2 {
        font-size: 26px;
        line-height: 26px;
      }

      .avatar {
        height: 120px;
        margin: 0 10px 10px 0;
        float: left;
        padding-left:240px;
      }
      .stats {
        width: 850px;
        margin: 7px 0px;
        font-size: 30px;
        padding: 15px;
      }

      #your_location {
        .location-label {
          margin-bottom: 0px;
          font-size: 16px;
          padding-bottom: 6px;
          padding-left: 300px;
        }
        .address-visible-toggle {
          float: left;
          margin-right: 5px;
        }
        #share_label, #keep_private_label {
          float: left;
          margin: 1px 25px 0px 0px;
          font-size: 16px;
          padding-bottom: 6px;
        }
        #your_location_message{
          color: green;
        }
      }
    }

}

*/

