<div class="notices"></div>
<div class="well suggest_categories">
  <%= form_tag(suggest_category_path, {:id => 'suggest', :class => 'form-inline', :remote => true, :method => :get}) do %>
    <%= text_field_tag :category, '',:placeholder => 'Suggest a category here', :class => "input-xlarge" %>
    <%= hidden_field_tag :email, '', :value => current_resource.email %>
    <%= submit_tag 'Send', :class => 'btn btn-primary' %> <a class="btn hide_form">Cancel</a>
  <% end %>
</div>
