$('#suggest')[0].reset();
$('.notices').html("<span class='message'>Thanks! Your category will be reviewed and considered for the list.</span>").html_safe
$('.suggest_categories').css('display',"none");
$('.notices .message').delay(5000).fadeOut("slow");
