$('#suggest')[0].reset();
$('.notices').html("<span class='message'>Thank you. Categories will be reviewed by admin and will be added shortly to categories list.</span>").html_safe
$('.suggest_categories').css('display',"none");
$('.notices .message').delay(5000).fadeOut("slow");
