	      <div id = "competition">
	      <div id = "competition_text"><a href="#" class="email-invite-link">Invite Others</a>
                and win an iPad!<br>
            </div>

                <!-- <div id = "competition_ipad"><%= image_tag ("ipad.png") %></div> -->
                <div id = "competition_terms"><%= link_to "Terms and Conditions apply",competition_terms_path, :class => 'ajax' %>
                </div>
                        <div class="invites-count">
          <%= I18n.t('email_invites.invites_sent', :number => current_user.invites_count).html_safe %>
        </div>
                </div>
