 <div id = "empty_Address_book">

    <% if current_resource.name == @resource.name %>
    Your Address Book is empty :(
<p></p>
 A butcher, baker, candlestick maker....?
<p></p>
 With your help, we're working to build a list of all those services and things that people would find useful in your local community.
<p></p>
<%= link_to "Pop something in", reviews_path %> to your Address Book, spread the word!
    <%#= "Your Address Book:" %>
    <% else %>
      <% if @resource.is_company? %>
        <%= "#{@resource.name}" + "'s Address Book is empty :(" %>
      <% else %>
        <%= "#{@resource.first_name.capitalize} " + " " + "#{@resource.last_name.capitalize}" + "'s Address Book is empty :(" %>
      <% end %>
    <% end %>
  </div>
<div id ="empty_Address_book_image">
<%= link_to(image_tag('sad_characters_empty_address_book.png', :size => "218x95")) %>
</div>
<div style="clear:both;"></div>
