<div class ="centre_text">

	Sorry, no results for this yet.

    <p></p>
   If you do find someone who you're happy with,
please
<%= link_to "pop them in", reviews_path %>

 to your Address Book, so you
can find them easily next time round.
</br>
</br>
</br>
</br>
Maybe you'd like to ask your friends on Facebook?

</div>
