<div class ="centre_text">
	<%= "Results for 'babysitter, carpenter' from Address Books in your area." %>
<br/>
	<%= "No Address Book entries in your area for this, sorry. Do a Google Search for....?" %>
</div>
