<div class ="centre_text">

	Sorry, no results for this in your area.
<p></p>
	(Give us time!)
    <p></p>
   If you do find someone who you're happy with,
please
<%= link_to "pop them in", reviews_path %>

 to your Address Book, so you
can find them easily next time round.

</div>
