<div class ="centre_text">
	Sorry, no results for this yet. Maybe you'd like to <%= link_to 'ask your friends on Facebook', "https://www.facebook.com/sharer/sharer.php?u=https://populisto.com/login", :target => "_blank" %> for what you're looking for?


    <p></p>
    </br>
   If you do find someone who you're happy with,
please
<%= link_to "pop them in", reviews_path %>

 to your Address Book, so you
can find them easily next time round, and let your friends know about them.
</br>


</div>
