<div class="header">

  <div class='top-line'>

 <div class="populisto_logo">
    <%= link_to(image_tag('logo.jpg', :alt => t('application.title')), root_path) %>

<%#user is only signed in fully when they fully register - INCLUDING ADDRESS %>

    <% if current_user.registration_complete? %>

        <p class="slogan">
            <%= friends_avatars(current_user, 4) %> <%= welcome_text %>
        </p>
    <% end %>
  </div>
</div>

